    html {
        font-family: 'Roboto', sans-serif;
    }
    
    .image {
        background-color: #490D40;
        background: url('../server.jpeg') no-repeat center center;
        background-size: cover;
        height: 620px;
        margin-top: -20px;
    }
    
    .logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
    }
    
    .image .heading {
        color: black;
        text-align: center;
    }
    
    .image p {
        text-align: center;
        padding: 20px 60px;
    }
    
    .image p .btn {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        padding: 10px;
        font-size: 1.2em;
    }
    
    .image p .btn:hover {
        color: #C57ED3;
        border-color: #C57ED3;
    }
    /*effect-underline*/
    
    a.effect-underline:after {
        content: '';
        position: absolute;
        left: 0;
        display: inline-block;
        height: 1em;
        width: 100%;
        border-bottom: 1px solid;
        margin-top: 10px;
        opacity: 0;
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale(0, 1);
        transform: scale(0, 1);
    }
    
    a.effect-underline:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    .navbar {
        height: 50px;
        background-color: transparent;
        border: none;
        color: white;
        z-index: 100;
        -webkit-transition: background-color 1s ease 0s;
        transition: background-color 1s ease 0s;
    }
    
    .navbar-default .navbar-brand {
        margin-top: 3px;
        color: white;
    }
    
    .navbar-default .navbar-brand:hover {
        color: #C57ED3;
        border: 0px solid linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
    }
    
    .navbar-default .navbar-nav>li>a {
        color: white;
    }
    
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:active,
    .navbar-default .navbar-nav>li>a:focus {
        color: #C57ED3;
    }
    
    .navbar-default .navbar-nav>li>a:visited {
        color: white;
        text-decoration: none;
    }
    
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        background-color: transparent;
        color: #C57ED3;
    }
    
    .navbar-default .navbar-toggle {
        border-color: #C57ED3;
    }
    
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #490D40;
    }
    
    .navbar-default .navbar-toggle .icon-bar {
        color: #C57ED3;
        background-color: #C57ED3;
    }
    
    .navbar-default .navbar-collapse.collapse.in ul {
        background-color: #490D40;
    }
    /* Solid class attached on scroll past first section */
    
    .navbar.solid {
        background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
        -webkit-transition: background-color 1s ease 0s;
        transition: background-color 1s ease 0s;
        -webkit-box-shadow: 0 0 4px grey;
        box-shadow: 0 0 4px grey;
    }
    
    .navbar.solid .navbar-brand {
        color: white -webkit-transition: color 1s ease 0s;
        transition: color 1s ease 0s;
    }
    
    .navbar.solid .navbar-nav>li>a {
        color: white -webkit-transition: color 1s ease 0s;
        transition: color 1s ease 0s;
    }
    
    #about {
        color: black;
        height: 600px;
        text-align: center;
    }
    
    #about p {
        text-align: justify;
    }
    
    #about h3 {
        padding-top: 40px;
    }
    
    .footer {
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: black;
        color: white;
        text-align: center;
    }